* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.add {
    width: 100%;
}

.add h1 {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add h1 a {
    color: white;
    background-color: red;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}

.form-container{
    padding: 10px;
}

.form-container button {
    width: 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}

.form-container button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.813);
}



.inputs {
    margin-bottom: 10px;
}

.inputs input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    margin: 3px 0;
}

.inputs select{
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    margin: 3px 0;
}

.msg-box {
    padding: 10px;
    display: block;
    transition: display 0.7s ease;
}

.msg-box.hide {
  display: none;
}

.msg {
    width: 100%;
    height: 50px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    border: 2px solid rgba(255, 0, 0, 0.8);
    background-color: rgba(255, 0, 0, 0.5);
}

.green {
    border: 2px solid rgba(0, 128, 0, 0.8);
    background-color: rgba(0, 128, 0, 0.5);
}

.yellow {
    border: 2px solid rgba(255, 255, 0, 0.8);
    background-color: rgba(255, 255, 0, 0.5);
}