* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.read {
    width: 100%;
}

.read h1 {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read h1 a {
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}

.inputs {
    margin-bottom: 10px;
}

.inputs input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    margin: 3px 0;
}

.read table {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.read thead th {
    border: none;
    padding: 5px;
}

.read tbody td {
    padding: 5px;
}    

.read table thead {
    background-color: black;
    color: white;
}

.read table tr:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.169);
}

.action {
    display: flex;
    justify-content: space-evenly;
}

.action a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
}

.action a:nth-child(1){
    color: blue;
}

.action a:nth-child(2){
    color: green;
}

.action a:nth-child(3){
    color: red;
}

.action #del:hover{
    cursor: pointer;
}

body {
    padding-top: 30px;
    position: relative;
}

.modal-container {
    background-color: rgba(0,0,0,0.09);
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: absolute;
    top: 0;
}

.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: whitesmoke;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

.modal h3,p {
    padding: 10px 0;
}

.modal input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 5px;
}

.modal button {
    width: 50px;
    height: 30px;
    border: none;
    background-color: #eeeeee;
    color: black;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: 10px 0px;
}

.modal .yes {
    background-color: red;
    color: white;
}

.modal button:hover{
    cursor: pointer;
}