.profile {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info p {
    font-weight: bold;
    font-size: 30px;
}

.info span {
    font-weight: normal;
}